input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    border-radius: 10%;
    background-color: white;
}

.dataentry{
  width: 50%;
  margin: auto;
  text-align: center;
}

 .field {
  display: inline-block;
  width: 35%;
  background-color: aliceblue;
  color: darkgray;
  font-weight: bold;
  border: 1px solid darkgray;
  border-radius: 07px;
}

.buttn {
  width: 75 px;
  margin: auto;
  display: inline-block; 
  border-radius: 07px;
  border: 1px solid darkgray;
  box-sizing: border-box;
}

.jmbo{
   margin: auto;
   color: bisque;
   background-image: url("../images/hot-news.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   box-sizing: border-box;
   border: 1px solid gray;
   background-size: cover;
}

h1 {
    display: inline-block;
    float: left;
    padding : 5px 10px 100px 20px;
    color: white;
    font-size: 11px;
}