input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#fieldOne{
  display: inline-block;
  position: relative;
  margin: 30px 30px 75px 30px;
  width: 25%; 
  padding-left: 10px;
  border-radius: 10%;
  background-color: white;
  border: 1px solid black;
  border-radius: 07px;
}

.buttn {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  width: 90px; 
  border-radius: 07px;
  border: 1px solid black;
  box-sizing: border-box;
  font-weight: bold;
}

.jmbo{
   background-image: url("../images/hot-news.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   border: 1px solid black;
   background-size: cover;
}

.msthd{
    display: block;
    /* float: left; */
    margin-top: 20px;
    margin-left: 30px;
    color: white;
    font-size: 45px;
    font-weight: bold;
}